@model IEnumerable<Course>

@{
    ViewData["Title"] = "Home Page";
}
<h2 class="title h2">@ViewData["Title"]</h2>



<script>
    var deleteSuccessMessage = '@TempData["DeleteCourseSuccess"]';
    if (deleteSuccessMessage) {
        alert(deleteSuccessMessage);
    }
</script>
